.app-background {
    min-height: 100vh;
    background-image: url('/images/noel.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.6); 
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 10;
}